.client-list {
  background-color: $color5;
  border: 1px solid $color8;
  margin: 10px;
  padding: 10px 17px;
  &__table {
    
  }
}


.client-add-form {
  background-color: $color5;
  border: 1px solid $color8;
  margin: 10px;
  padding: 10px 17px;
}
