.mytask-list {
  background-color: $color5;
  border: 1px solid $color8;
  margin: 10px;
  padding: 10px 17px;
  &__task {
    li {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding-left: 10px;
      border-bottom: 1px solid $color8;
      .hed {
        border-left: 2px solid $color8;
        width: 40%;
        padding: 15px;
        padding-left: 20px;
        p {
          margin-bottom: 5px;
          &:not(.name) {
            font-size: 1.3rem;
          }
        }
        .name {
          position: relative;
          font-weight: 600;
          &::before {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 3px solid $color8;
            background-color: $color4;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            left: -28px;
          }
          &.active {
            &::before {
              background-color: $color2;
            }
          }
        }
      }
      .content {
        width: 60%;
        padding: 15px;
      }
    }
  }
}

.mytask-add-form {
  background-color: $color5;
  border: 1px solid $color8;
  margin: 10px;
  padding: 10px 17px;

  .sortable {
    .title {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      input {
        margin-left: 15px;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1.4rem;
        background-color: $color5;
        color: $color1;
        border: 1px solid $color8;
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        transition: 0.3s;
        &:focus {
          border: $color1 2px solid;
        }
      }
    }
    .memo {
      textarea {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid $color8;
        color: $color1;
        font-size: 1.4rem;
        padding: 1em;
      }
    }
    .hour {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;
      label {
        font-weight: 400;
        white-space: nowrap;
        margin: 0;
      }
      input {
        border: 1px solid $color8;
        color: $color1;
        width: 100%;
        padding: 0.3em;
        margin-left: 1em;
      }
    }
  }

  .button-wrap {
    margin-bottom: 15px;
    button {
      margin: 0 7.5px;
    }
  }
}
