.report-add-form {
  background-color: $color5;
  border: 1px solid $color8;
  margin: 10px;
  padding: 10px 17px;
  width: 100%;
  .form-wrap {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: nowrap;
    form.add-report {
      width: 100%;
      max-width: 500px;
      margin: 20px 0;
      select {
        border: $color8 1px solid;
        padding: 3px 18px;
      }
      input {
        border: $color6 1px solid;
        padding: 3px 18px;
        background-color: $color8;
        color: $color3;
      }
    }
    .workflows {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      .project {
        max-height: 620px;
        overflow-x: auto;
        width: 50%;
        padding: 20px;
        -ms-overflow-style: none;    /* IE, Edge 対応 */
        scrollbar-width: none;       /* Firefox 対応 */
        &::-webkit-scrollbar {
          display:none;
        }
        p.name {
          font-weight: 600;
        }
        ul.project-item {
          padding-left: 18px;
          border-left: $color2 2px solid;
          li.item-wrap {
            padding: 15px 0;
            ul.task {
              padding-left: 10px;
              border-left: $color2 2px solid;
              li {
                margin: 7.5px 0;
                padding: 10px 5px;
                border-radius: 4px;
                cursor: pointer;
                transition: 0.25s;
                &:hover {
                  background-color: rgba($color2,0.2);
                }
                &.active {
                  background-color: rgba($color2,0.4);
                }
              }
            }
          }
        }
      }
    }
  }
}
