.sidebar {
  width: 250px;
  background-color: $color1;
  color: $color6;
  height: 100%;
  min-height: 100vh;
  padding: 25px 0;
  h1 {
    padding: 0 25px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    color: $color6;
    a {
      color: $color6;
      img {
        width: 60px;
      }
    }
  }
  &__list {
    margin-top: 50px;
    padding-left: 25px;
    ul {
      li {
        font-size: 1.4rem;
        padding: 10px 0;
        position: relative;
        &.active {
          border-right: 5px solid $color2;
        }
        a {
          font-size: 1.6rem;
          margin-bottom: 5px;
          display: inline-block;
          color: $color6;
        }
        ul {
          margin-top: 10px 0;
          border-left: 2px solid $color7;
          li {
            font-size: 1.6rem;
            padding: 10px;
            position: relative;
            &::before {
              content: "";
              width: 8px;
              height: 8px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              background-color: $color7;
              border-radius: 50%;
              left: -5px;
            }
            a {
              font-size: 1.4rem;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
