.tasks {
  background-color: $color5;
  border: 1px solid $color8;
  margin: 10px;
  padding: 10px 17px;
  .wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__list {
    margin: 20px 0;
    max-width: 550px;
    &--onece {
      border-bottom: 1px solid $color8;
      .block {
        cursor: pointer;
        margin-left: 5px;
        padding: 15px;
        border-left: 3px solid $color8;
        .title {
          position: relative;
          &::before {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 3px solid $color8;
            background-color: $color4;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            left: -23px;
          }
        }
        &.active .title {
          &::before {
            background-color: $color2;
          }
        }
        .date {
          padding: 5px 0;
          font-style: italic;
          font-size: 1.3rem;
          line-height: 1.3;
          color: #aab6aa;
        }
        .memo {
          display: none;
          font-size: 1.3rem;
          line-height: 1.7em;
        }
        &.active .memo {
          display: block;
        }
      }
    }
  }

  &__data {
    max-width: calc(100% - 550px);
    display: none;
    padding: 25px 20px;
    margin-left: 20px;
    &.active {
      display: block;
    }
    .memo {
      font-size: 1.6rem;
      line-height: 1.5em;
    }
    .anser {
      font-size: 1.5rem;
      line-height: 1.5em;
      margin: 30px 0;
      padding: 10px;
      border-left: 1px solid $color8;
    }
  }

  .not-task {
    padding: 30px 10px;
  }
}

.task-add {
  background-color: $color5;
  border: 1px solid $color8;
  margin: 10px;
  padding: 10px 17px;
  .type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    label {
      width: 25%;
      max-width: 25%;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: calc(.375rem + 1px);
      padding-bottom: calc(.375rem + 1px);
    }
    .radio-wrap {
      width: 100%;
      input {
        margin-top: 0;
        margin-left: 10px;
        margin-right: 5px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
  .text {
    margin-top: 15px;
    label {
      width: 100%;
      margin: 15px 0;
    }
  }
}
