$color1: #2A3F54;
$color2: #1ABB9C;
$color3: #73879C;
$color4: #F7F7F7;
$color5: #FFFFFF;
$color6: #E7E7E7;
$color7: #425668;
$color8: #E6E9ED;

$color11: #1ABB9C;
$color12: #E74C3C;
$color13: #f49c12;
$color14: #3498db;

.subcolor {
  color: $color2;
}
.yellow {
  color: $color13;
}
.red {
  color: $color12;
}

html {
  font-size: 10px!important;
}

pre {
  max-width: 100%;
  overflow-y: auto;
  background-color: #333;
}

.mb {
  margin-bottom: 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: $color3;
  background-color: $color4;
  letter-spacing: 0.08em;
}

.admin-wrap {
  display: flex;
  flex-wrap: nowrap;
  .content-wrap {
    padding: 50px;
    width: 100%;
    max-width: 1500px;
  }
}

.part {
  width: 100%;
  h3 {
    margin: 5px 0 16px;
    display: block;
    font-size: 1.8rem;
    border-bottom: 2px solid $color8;
    padding: 1px 5px 6px;
  }
}

.button {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.5em 1.25em;
  color: $color5;
  background-color: $color2;
  border-radius: 0.2rem;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  &.blue {
    background-color: $color14;
  }
  &.red {
    background-color: $color12;
  }
}

.text-r {
  text-align: right;
}

form.template {
  .form-parts {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    label {
      width: 25%;
      max-width: 25%;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: calc(.375rem + 1px);
      padding-bottom: calc(.375rem + 1px);
      margin-bottom: 0;
    }
    input,select {
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1.4rem;
      background-color: $color5;
      color: $color1;
      border: 1px solid $color8;
      padding: .375rem .75rem;
      font-weight: 400;
      line-height: 1.5;
      transition: 0.3s;
      &:focus {
        border: $color1 2px solid;
      }
    }
    input[type="text"] {
    }
  }
}

.basic-table {
  width: 100%;
  border: 1px solid $color8;
  thead {
    color: $color4;
    background-color: $color1;
    tr.headings {
      th,td {
        padding: .85rem;
        border-bottom: 1px solid $color8;
        font-size: 1.3rem;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: .85rem;
        vertical-align: top;
        border-top: 1px solid $color5;
        &.check {
          color: $color12;
          &.fin {
            color: $color11;
          }
        }
      }
      &:nth-of-type(2n) {
        background-color: $color8;
      }
    }
  }
}

.sortable {
  li {
    box-shadow: 0 2px 5px rgba(0,0,0,0.16);
    background-color: $color5;
    padding: 1rem;
    margin-bottom: 2rem;
    .fa-arrows-alt {
      cursor: grab;
    }
  }
}

@import 'sidebar';
@import 'task';
@import 'client';
@import 'projects';
@import 'process';
@import 'mytask';
@import 'report';
