@charset "UTF-8";
.subcolor {
  color: #1ABB9C;
}

.yellow {
  color: #f49c12;
}

.red {
  color: #E74C3C;
}

html {
  font-size: 10px !important;
}

pre {
  max-width: 100%;
  overflow-y: auto;
  background-color: #333;
}

.mb {
  margin-bottom: 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #73879C;
  background-color: #F7F7F7;
  letter-spacing: 0.08em;
}

.admin-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.admin-wrap .content-wrap {
  padding: 50px;
  width: 100%;
  max-width: 1500px;
}

.part {
  width: 100%;
}

.part h3 {
  margin: 5px 0 16px;
  display: block;
  font-size: 1.8rem;
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}

.button {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.5em 1.25em;
  color: #FFFFFF;
  background-color: #1ABB9C;
  border-radius: 0.2rem;
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.6;
}

.button.blue {
  background-color: #3498db;
}

.button.red {
  background-color: #E74C3C;
}

.text-r {
  text-align: right;
}

form.template .form-parts {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

form.template .form-parts label {
  width: 25%;
  max-width: 25%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  margin-bottom: 0;
}

form.template .form-parts input, form.template .form-parts select {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1.4rem;
  background-color: #FFFFFF;
  color: #2A3F54;
  border: 1px solid #E6E9ED;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  transition: 0.3s;
}

form.template .form-parts input:focus, form.template .form-parts select:focus {
  border: #2A3F54 2px solid;
}

.basic-table {
  width: 100%;
  border: 1px solid #E6E9ED;
}

.basic-table thead {
  color: #F7F7F7;
  background-color: #2A3F54;
}

.basic-table thead tr.headings th, .basic-table thead tr.headings td {
  padding: .85rem;
  border-bottom: 1px solid #E6E9ED;
  font-size: 1.3rem;
}

.basic-table tbody tr td {
  padding: .85rem;
  vertical-align: top;
  border-top: 1px solid #FFFFFF;
}

.basic-table tbody tr td.check {
  color: #E74C3C;
}

.basic-table tbody tr td.check.fin {
  color: #1ABB9C;
}

.basic-table tbody tr:nth-of-type(2n) {
  background-color: #E6E9ED;
}

.sortable li {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  background-color: #FFFFFF;
  padding: 1rem;
  margin-bottom: 2rem;
}

.sortable li .fa-arrows-alt {
  cursor: grab;
}

.sidebar {
  width: 250px;
  background-color: #2A3F54;
  color: #E7E7E7;
  height: 100%;
  min-height: 100vh;
  padding: 25px 0;
}

.sidebar h1 {
  padding: 0 25px;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  color: #E7E7E7;
}

.sidebar h1 a {
  color: #E7E7E7;
}

.sidebar h1 a img {
  width: 60px;
}

.sidebar__list {
  margin-top: 50px;
  padding-left: 25px;
}

.sidebar__list ul li {
  font-size: 1.4rem;
  padding: 10px 0;
  position: relative;
}

.sidebar__list ul li.active {
  border-right: 5px solid #1ABB9C;
}

.sidebar__list ul li a {
  font-size: 1.6rem;
  margin-bottom: 5px;
  display: inline-block;
  color: #E7E7E7;
}

.sidebar__list ul li ul {
  margin-top: 10px 0;
  border-left: 2px solid #425668;
}

.sidebar__list ul li ul li {
  font-size: 1.6rem;
  padding: 10px;
  position: relative;
}

.sidebar__list ul li ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-color: #425668;
  border-radius: 50%;
  left: -5px;
}

.sidebar__list ul li ul li a {
  font-size: 1.4rem;
  margin: 0;
}

.tasks {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
}

.tasks .wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.tasks__list {
  margin: 20px 0;
  max-width: 550px;
}

.tasks__list--onece {
  border-bottom: 1px solid #E6E9ED;
}

.tasks__list--onece .block {
  cursor: pointer;
  margin-left: 5px;
  padding: 15px;
  border-left: 3px solid #E6E9ED;
}

.tasks__list--onece .block .title {
  position: relative;
}

.tasks__list--onece .block .title::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid #E6E9ED;
  background-color: #F7F7F7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  left: -23px;
}

.tasks__list--onece .block.active .title::before {
  background-color: #1ABB9C;
}

.tasks__list--onece .block .date {
  padding: 5px 0;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.3;
  color: #aab6aa;
}

.tasks__list--onece .block .memo {
  display: none;
  font-size: 1.3rem;
  line-height: 1.7em;
}

.tasks__list--onece .block.active .memo {
  display: block;
}

.tasks__data {
  max-width: calc(100% - 550px);
  display: none;
  padding: 25px 20px;
  margin-left: 20px;
}

.tasks__data.active {
  display: block;
}

.tasks__data .memo {
  font-size: 1.6rem;
  line-height: 1.5em;
}

.tasks__data .anser {
  font-size: 1.5rem;
  line-height: 1.5em;
  margin: 30px 0;
  padding: 10px;
  border-left: 1px solid #E6E9ED;
}

.tasks .not-task {
  padding: 30px 10px;
}

.task-add {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
}

.task-add .type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-add .type label {
  width: 25%;
  max-width: 25%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
}

.task-add .type .radio-wrap {
  width: 100%;
}

.task-add .type .radio-wrap input {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 5px;
}

.task-add .type .radio-wrap input:first-of-type {
  margin-left: 0;
}

.task-add .text {
  margin-top: 15px;
}

.task-add .text label {
  width: 100%;
  margin: 15px 0;
}

.client-list {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
}

.client-add-form {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
}

.projects-list {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
}

.process-add-form {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
}

.process-add-form .sortable .title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.process-add-form .sortable .title input {
  margin-left: 15px;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1.4rem;
  background-color: #FFFFFF;
  color: #2A3F54;
  border: 1px solid #E6E9ED;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  transition: 0.3s;
}

.process-add-form .sortable .title input:focus {
  border: #2A3F54 2px solid;
}

.process-add-form .sortable .memo textarea {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #E6E9ED;
  color: #2A3F54;
  font-size: 1.4rem;
  padding: 1em;
}

.process-add-form .button-wrap {
  margin-bottom: 15px;
}

.process-add-form .button-wrap button {
  margin: 0 7.5px;
}

.process-list {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
}

.process-list__process li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 10px;
  border-bottom: 1px solid #E6E9ED;
}

.process-list__process li .hed {
  border-left: 2px solid #E6E9ED;
  width: 100%;
  padding: 15px;
  padding-left: 20px;
}

.process-list__process li .hed p.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.process-list__process li .hed p.name:not(.name) {
  font-size: 1.3rem;
}

.process-list__process li .hed p.name .title-item-wrap {
  font-size: 1.3rem;
  font-weight: normal;
}

.process-list__process li .hed p.name .title-item-wrap span {
  margin-left: 10px;
}

.process-list__process li .hed .name {
  position: relative;
  font-weight: 600;
}

.process-list__process li .hed .name::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid #E6E9ED;
  background-color: #F7F7F7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  left: -28px;
}

.process-list__process li .hed .name.active::before {
  background-color: #1ABB9C;
}

.process-list__process li .memo {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #73879C;
}

.process-list__process .mytask-list__task {
  margin: 30px 0;
}

.process-list__process .mytask-list__task li {
  border-bottom: 0px solid #E6E9ED;
}

.mytask-list {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
}

.mytask-list__task li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 10px;
  border-bottom: 1px solid #E6E9ED;
}

.mytask-list__task li .hed {
  border-left: 2px solid #E6E9ED;
  width: 40%;
  padding: 15px;
  padding-left: 20px;
}

.mytask-list__task li .hed p {
  margin-bottom: 5px;
}

.mytask-list__task li .hed p:not(.name) {
  font-size: 1.3rem;
}

.mytask-list__task li .hed .name {
  position: relative;
  font-weight: 600;
}

.mytask-list__task li .hed .name::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid #E6E9ED;
  background-color: #F7F7F7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  left: -28px;
}

.mytask-list__task li .hed .name.active::before {
  background-color: #1ABB9C;
}

.mytask-list__task li .content {
  width: 60%;
  padding: 15px;
}

.mytask-add-form {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
}

.mytask-add-form .sortable .title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.mytask-add-form .sortable .title input {
  margin-left: 15px;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1.4rem;
  background-color: #FFFFFF;
  color: #2A3F54;
  border: 1px solid #E6E9ED;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  transition: 0.3s;
}

.mytask-add-form .sortable .title input:focus {
  border: #2A3F54 2px solid;
}

.mytask-add-form .sortable .memo textarea {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #E6E9ED;
  color: #2A3F54;
  font-size: 1.4rem;
  padding: 1em;
}

.mytask-add-form .sortable .hour {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.mytask-add-form .sortable .hour label {
  font-weight: 400;
  white-space: nowrap;
  margin: 0;
}

.mytask-add-form .sortable .hour input {
  border: 1px solid #E6E9ED;
  color: #2A3F54;
  width: 100%;
  padding: 0.3em;
  margin-left: 1em;
}

.mytask-add-form .button-wrap {
  margin-bottom: 15px;
}

.mytask-add-form .button-wrap button {
  margin: 0 7.5px;
}

.report-add-form {
  background-color: #FFFFFF;
  border: 1px solid #E6E9ED;
  margin: 10px;
  padding: 10px 17px;
  width: 100%;
}

.report-add-form .form-wrap {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.report-add-form .form-wrap form.add-report {
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
}

.report-add-form .form-wrap form.add-report select {
  border: #E6E9ED 1px solid;
  padding: 3px 18px;
}

.report-add-form .form-wrap form.add-report input {
  border: #E7E7E7 1px solid;
  padding: 3px 18px;
  background-color: #E6E9ED;
  color: #73879C;
}

.report-add-form .form-wrap .workflows {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.report-add-form .form-wrap .workflows .project {
  max-height: 620px;
  overflow-x: auto;
  width: 50%;
  padding: 20px;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

.report-add-form .form-wrap .workflows .project::-webkit-scrollbar {
  display: none;
}

.report-add-form .form-wrap .workflows .project p.name {
  font-weight: 600;
}

.report-add-form .form-wrap .workflows .project ul.project-item {
  padding-left: 18px;
  border-left: #1ABB9C 2px solid;
}

.report-add-form .form-wrap .workflows .project ul.project-item li.item-wrap {
  padding: 15px 0;
}

.report-add-form .form-wrap .workflows .project ul.project-item li.item-wrap ul.task {
  padding-left: 10px;
  border-left: #1ABB9C 2px solid;
}

.report-add-form .form-wrap .workflows .project ul.project-item li.item-wrap ul.task li {
  margin: 7.5px 0;
  padding: 10px 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s;
}

.report-add-form .form-wrap .workflows .project ul.project-item li.item-wrap ul.task li:hover {
  background-color: rgba(26, 187, 156, 0.2);
}

.report-add-form .form-wrap .workflows .project ul.project-item li.item-wrap ul.task li.active {
  background-color: rgba(26, 187, 156, 0.4);
}
