html {
  margin: 0;
  padding: 0;
  font-size: 10px!important;
  @include md {
    font-size: 8px!important;
  };
}

body {
  font-size: 1.6rem;
  font-family:'メイリオ', 'Meiryo', sans-serif;
  color: $color4;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

main.basic-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.font-shuei{
  font-family: dnp-shuei-gothic-kin-std, sans-serif;
  font-weight: 400;
  font-style: nomal;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: $color5;
  letter-spacing: 0.1em;
}

.sp {
  display:none!important;
}
@media screen and (max-width: 768px) {
/*タブレット、スマホの場合*/
.pc	{
   display:none!important;
 }
.sp {
  display:inline!important;
 }
}
