footer{
    width: 100%;
    background-color: $color7;
    text-align: center;
padding: 100px 0 30px 0;
    color: $color5;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 0.4;

    // position: absolute;/*←絶対位置*/
    // bottom: 0; /*下に固定*/
}
