.basic-wrap{
  .content{
    width: 100%;
    &__header{
      text-align: center;
      padding: 50px 0 45px 0;
      background-color: $color6;
      @media screen and (max-width:850px) {
        padding: 50px 24px 45px 24px;
      }
    }
    &__projects{
      text-align: center;
      background-color: $color7;
      padding: 50px 0 0 0 ;
      @media screen and (max-width:850px) {
        padding: 50px 24px 0 24px;
      }
      h3{
        color: $color5;
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        line-height: 2;
      }
      &--status-intro{
        max-width: 800px;
        margin: 0 auto;
        justify-content: flex-end;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        line-height: 2.666;
        padding: 0 0 20px 0;
        @media screen and (max-width:850px) {
          justify-content: center;
        }
        .complete,.sort{
          margin-left: 35px;
          @media screen and (max-width:350px) {
            margin-left: 20px;
          }
        }
        .progress{
          color: $color8;
          &:hover{
            color: $color10;
          }
        }
        .complete{
          color: $color9;
          &:hover{
            color: $color11;
          }
        }
        .sort{
          color: $color5;
        }
        i{
          padding-right: 8px;
        }
      }
      &--status{
        position: relative;
        z-index: 1;
        max-width: 388px;
        flex-basis: 388px;
        background-color: $color6;
        box-sizing: border-box;
        justify-content: space-between;
        padding: 20px 0 30px 27px;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
        @media screen and (max-width:850px) {
          flex-basis: 450px;
          max-width: 450px;
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            text-indent:-999px;
            z-index: 2;
            &:hover{
             background-color:rgba(255,255,255,0.5);
            }
        }
        .doc{
          width: 70%;
          text-align: left;
          span{
            font-size: 1.6rem;
            letter-spacing: 0.1em;
            font-weight: 600;
            line-height: 1.5;
            color: $color5;
          }
        }
        .pick{
          width: 30%;
          margin-left: auto;
          padding: 20px 0 0 0;
          p{
            color: $color5;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 0.1em;
            line-height: 1.666;
          }
        }
        .progress{
          width: 30%;
          .complete{
            color: $color11;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 0.1em;
            line-height: 1.666;
          }
          .notcomp{
            color: $color10;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 0.1em;
            line-height: 1.666;
          }
        }
        .untreated{
          color: $color10;
          font-size: 1.2rem;
          font-weight: 600;
          letter-spacing: 0.1em;
          line-height: 1.666;
          padding: 20px 0 0 0;
        }
      }
      &--status-box.flex{
        max-width: 800px;
        margin: 0 auto;
        justify-content: space-between;
        @media screen and (max-width:850px) {
          justify-content: center;
        }
      }
    }
  }
}
