.header{
  @extend .font-shuei;
  max-width: 100%;
  background-color: $color5;
  padding: 12px 16px 12px 24px;
  &__contents{
    align-items: baseline;
    color: $color6;
    &--client-name{
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      line-height: 2.285;
    }
    &--client-num{
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      line-height: 2.666;
      padding: 0 0 0 16px;
    }
    &--client-info,&--client-guide,&--client-contact,&--client-logout{
      margin-left: 32px;
      a{
        display: flex;
        align-items: center;
        color: $color6;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        line-height: 2.666;
        i{
          font-size: 1.6rem;
          padding-right: 8px;
          @media screen and (max-width:775px) {
            padding-right: 4px;
          }
        }
      }
    }
    &--client-info{
      margin-left: auto;
    }
    /*　ハンバーガーボタン　*/
    .hamburger {
      display : block;
      position: fixed;
      z-index : 3;
      right : 13px;
      top   : 7px;
      width : 42px;
      height: 42px;
      cursor: pointer;
      text-align: center;
    }
    .hamburger span {
      display : block;
      position: absolute;
      width   : 30px;
      height  : 2px ;
      left    : 6px;
      background : $color6;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition   : 0.3s ease-in-out;
      transition        : 0.3s ease-in-out;
    }
    .hamburger span:nth-child(1) {
      top: 10px;
    }
    .hamburger span:nth-child(2) {
      top: 20px;
    }
    .hamburger span:nth-child(3) {
      top: 30px;
    }

    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
      top : 16px;
      left: 6px;
      background :$color6;
      -webkit-transform: rotate(-45deg);
      -moz-transform   : rotate(-45deg);
      transform        : rotate(-45deg);
    }

    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
      top: 16px;
      background :$color6;
      -webkit-transform: rotate(45deg);
      -moz-transform   : rotate(45deg);
      transform        : rotate(45deg);
    }

    nav.globalMenuSp {
      position: fixed;
      z-index : 2;
      top  : 0;
      left : 0;
      color: $color6;
      background: rgba(0,0,0,0.7);
      text-align: center;
      width: 100%;
      opacity: 0;
      transition: opacity .6s ease, visibility .6s ease;
    }

    nav.globalMenuSp ul {
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }

    nav.globalMenuSp ul li {
      list-style-type: none;
      padding: 0;
      width: 100%;
      transition: .4s all;
    }
    nav.globalMenuSp ul li:last-child {
      padding-bottom: 0;
    }
    nav.globalMenuSp ul li:hover{
      background :#ddd;
    }

    nav.globalMenuSp ul li a {
      display: block;
      color: $color6;
      padding: 1em 0;
      text-decoration :none;
    }

    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      opacity: 100;

    }
  }
}
