/*break-point*/
$break-point_xl: 1200px;
$break-point_lg: 1024px;
$break-point-md: 768px;
$break-point-sp: 540px;
$break-point-xs: 375px;


/* --------------------------------  MIX IN  -------------------------------- */

// flex between
// * ex) @include flexBetween (ブレークポイント, align-items(center,flex-start,flex-end,stretch etc), wrap)
@mixin flexBetween ($break: $breakPoint, $align:flex-start, $wrap: warap){
  display: flex;
  justify-content: space-between;
  align-items: $align;
  @media screen and (max-width: $break) {
    flex-wrap: wrap;
  }
}


// 要素から溢れる文字を...と省略する
// * ex) @include lines-truncate(省略する行)
@mixin lines-truncate($lines: 1){
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

// position:absolute一括設定
// * ex) @include absolute(上, 右, 下, 左);
@mixin absolute($top:null, $right:null, $bottom:null, $left:null){
  position: absolute;
  @if $top != null{
    top: $top;
  }
  @if $right != null{
    right: $right;
  }
  @if $bottom != null{
    bottom: $bottom;
  }
  @if $left != null{
    left: $left;
  }
}

// absolute center (X,Y)
// * ex) @include absoluteCenter
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

// absolute center (Y)
// * ex) @include absoluteCenterY
@mixin absoluteCenterY {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

// absolute center (X)
// * ex) @include absoluteCenterX
@mixin absoluteCenterX {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

// ----
// * ex)
//   @include media-sp {}
//   @include media-pc {}
// ----
@mixin xl {
  @media screen and (max-width: $break-point_xl) {
    @content;
  }
}
@mixin lg {
  @media screen and (max-width: $break-point_lg) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: $break-point-md) {
    @content;
  }
}
@mixin sm {
  @media screen and (max-width: $break-point-md - 1) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: $break-point_sp) {
    @content;
  }
}
@mixin xs{
  @media screen and (max-width: $break-point_xs) {
    @content;
  }
}

// ----
// * ex)
//   @include media-max(横幅) {}
//   @include media-min(横幅) {}
// ----

@mixin media-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin media-min($width) {
  @media print, screen and (min-width: $width) {
    @content;
  }
}

// ----
// * ex)
//   @include none-appearance;
@mixin none-appearance {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none transparent;
  background-clip: padding-box;
  color: inherit;
  font-size: inherit;
  vertical-align: middle;
  box-sizing: border-box;
  &::-ms-clear {
    display: none;
  }
  &::-ms-reveal {
    display: none;
  }
  &::-ms-expand {
    display: none;
  }
}

/* --------------------------------  MIX IN  -------------------------------- */
