.sidebar-wrap {
  background-color: $color1;
  height: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 30px;
  &__user {
    text-align: center;
    .user-image {
      p {
        img {
          border-radius: 50%;
          justify-content: cover;
        }
      }
    }
  }
}
