@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  font-size: 10px !important;
}

body {
  font-size: 1.6rem;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
  color: #6c6c6c;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

main.basic-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.sidebar-wrap {
  background-color: #ece8d0;
  height: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 30px;
}

.sidebar__user {
  text-align: center;
}

.sidebar__user .user-image p img {
  border-radius: 50%;
  justify-content: cover;
}
