html {
  margin: 0;
  padding: 0;
  font-size: 10px !important;
}

body {
  background-color: $color1;
  @extend .font-shuei;
  font-size: 1.6rem;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.login-form{
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  padding: 150px 0 0 0;
  @media screen and (max-width:1024px) {
    padding: 50px 0 0 0;
  }
  @media screen and (max-width:900px) {
    width: 80%;
  }
  @media screen and (max-width:600px) {
    width: 90%;
    padding: 30px 0 0 0;
  }
  &__title{
    h1{
      color: $color2;
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 1.6;
    }
    p.text{
      color : $color2;
      padding: 19px 0 0 0;
      letter-spacing: 0.1em;
      line-height: 2;
    }
  }
  &__form-wrap {
    form{
      flex-direction: column;
      padding: 35px 0 81px 0;
      .id,.pass{
        background-color: $color3;
        color: $color2;
        text-align: left;
        width: 480px;
        padding: 4px 15px;
        margin: 0 0 20px 0;
        font-weight: 600;
        line-height: 2;
        letter-spacing: 0.1em;
        @media screen and (max-width:900px) {
          width: 100%;
        }
        &::placeholder{
          color: $color4;
        }
      }
    }
    .cut-box{
      justify-content: center;
      input[type="checkbox"] {
        display: none;
        /*デフォルトのチェックボックスを非表示にする*/
      }
      input#cut[type="checkbox"]+label {
        position: relative;
        padding-left: 15px;
        user-select: none;
        font-weight: 600;
        color: $color2;
        line-height: 2;
        letter-spacing: 0.1em;
        /*チェックボックス分の隙間を作る*/
      }
      input#cut[type="checkbox"]+label::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        border: 1px solid $color5;
        background-color: $color3;
        cursor: pointer;
      }
      input#cut[type="checkbox"]:checked+label::before {
        /*チェックしたときの箱の色を変える*/
        background: cornflowerblue;

      }
      input#cut[type=checkbox]:checked+label::after {
        /*チェックの✓をつくる*/
        content: "";
        display: block;
        width: 10px;
        height: 6px;
        box-sizing: border-box;
        border-bottom: 2px solid $color3;
        border-left: 2px solid $color3;
        position: absolute;
        /*ここから下は位置を調整する*/
        top: 40%;
        left:-10px;
        /*箱を斜めに傾けてチェック表示にする*/
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg) translateY(-50%);

      }
    }
    .submit{
      background-color: $color2;
      color: $color3;
      margin-top: 20px;
      padding: 11px 68px;
      letter-spacing: 0.1em;
      line-height: 1.5;
    }
    .forgot{
      color: $color2;
      font-size: 1.2rem;
      letter-spacing: 0.1em;
      line-height: 2.666;
    }
  }
  &__footer{
    padding: 90px 0 30px 0;
    &--intro{
      color: $color2;
      font-weight: 600;
      font-size: 1rem;
      padding-bottom: 20px;
      letter-spacing: 0.1em;
      line-height: 1.4;
    }
    &--copy{
      color: $color2;
      font-size: 1rem;
      font-weight: 600;
      padding: 15px 0 0 0 ;
      letter-spacing: 0.1em;
      line-height: 1.4;
    }
  }
}
