$color1 : #EEEEEE;
$color2 : #6C6C6C;
$color3 : #FFFFFF;
$color4 : #ACACAC;
$color5 : #707070;

.font-shuei{
  font-family: dnp-shuei-gothic-kin-std, sans-serif;
  font-weight: 400;
  font-style: nomal;
}
